/*.text-center {
	background-color: blue;
}*/


/* NAV BAR STYLES */


.nav-item {

	color: black;

}

.navbar-brand {

	font-family: 'Stick', sans-serif;

	
}

#shortcuts {

	text-transform: lowercase;
	color: black;
	font-weight: bold;
	font-family: 'Stick', sans-serif;

}

#shortcuts-dark {

	text-transform: uppercase;
	font-size: 12px;
	color: white;
	font-weight: bold;
	font-family: 'Stick', sans-serif;

}

#shortcuts:hover {


	color: blue;
	text-transform: uppercase;
	

}

#shortcuts-dark:hover {

	font-size: 100%;
	color: blue;
	text-transform: uppercase;
	

}

#shortcuts-inactive {

	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-family: 'Stick', sans-serif;

}

#shortcuts-dark-inactive {

	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: 'Stick', sans-serif;

}
/* END NAV BAR STYLES*/



/*Body for all*/
body {

	/*background-image: url("../images/background.jpg");*/
	background-color: white;

}



/*BODY OF register.html*/
#registerBody {

	background-image: url("../images/registerBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Stick', sans-serif;

}

#registerForm {

	background-color: white;
	border-radius: 5%;
	align-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;

}

#registerUser {

	padding: 50px;

}

/*index.html*/
#indexBody {

	background-image: url("../images/indexBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}


#about {

	text-align: center;
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;

}

#instructions {

	text-align: center;
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.3);


}

#aboutUs {

	display: block;
	padding-top: 50px;


}

#aboutUs h1 p {

	text-align: center;

}

#aboutInside {


	padding-top: 30px;
	padding-bottom: 30px;
	text-align: justify;

}

#indexheader {

	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-family: 'Stick', sans-serif;

}

#instructPics {

	height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
	max-width: 250px;

}

#instructText {

	padding-top: 10px;
	padding-bottom: 10px;

}

#computerPerson {

	width: 80%;
	border-radius: 5%;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.8);

}

#css {

	width:290px; /* you can use % */
    height: auto;

}

#indexMain {

	
	/*border-radius: 10%;*/
	padding: 10px;

}

#instructText {

	font-family: 'Didact Gothic', sans-serif;
	
}

/*LOGIN PAGE*/
#loginContainer {

	background-color: white;
	max-width: 600px;
	border-radius: 10px;


}

#logInUser {

	padding-bottom: 50px;

}

#loginBody {

	background-image: url("../images/loginBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Stick', sans-serif;

}

footer {


	position: absolute; 
	width: 100%;
	font-family: 'Stick', sans-serif;
	
}

/*COURSES.html*/

#coursesBody {

	background-image: url("../images/coursesBackground.jpg");

}

.card-body {

	font-family: 'Didact Gothic', sans-serif;

}

.card-title {

	font-weight: bold;

}

#coursesHeader {

	background-image: url("../images/coursesHeaderBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Stick', sans-serif;

}

#coursePageBody {

	min-height: 200px;

}

#coursePageBodyUser {

	

}

#courseDescriptionC {

	min-height: 70px;
	max-height: 70px;

}

/*editCourse.html*/
#editCourseBackground {

	background-image: url("../images/editCourseBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

#editCourseDiv {

	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 25px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	font-family: 'Didact Gothic', sans-serif;

}

/*course.html*/

#courseDetailsContainer {

	font-family: 'Didact Gothic', sans-serif;
	
}

#courseDescription {

	height: 100px;

}

#courseBox {

	

}

#courseBody {

	background-image: url("../images/courseBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.center {
  margin-left: auto;
  margin-right: auto;
}

#nameRow {

	min-width: 30px;
	max-width: 100px;

}

#emailRow {

	text-align: center;
	align-content: center;
	align-items: center;


}

#tableHead {

	width: 540px;

}

#enrolleesHeader {

	box-shadow: 10px 10px 8px #888888;
	border-radius: 10px;
	font-family: 'Didact Gothic', sans-serif;

}

#enrolleesHeader h1 {
	padding: -100px;
	margin: -10px;
}

#enrolleesHeader p {
	padding: 10px;
}

/*profile.html*/
#profileBody {

	background-image: url("../images/registerBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

#coursePageProfile {

	min-height: 310px;
	max-height: 310px;

}

#fullProfile {

	background-color: white;

}

#containerHeader {

	padding-top: 100px;
	padding-bottom: 30px;


}

#profileContainer {

	font-family: 'Didact Gothic', sans-serif;
	
}

/*editUser.html*/

#editUserBody {

	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;

}

#editProfile {

	padding-right: 50px;
	padding-left: 50px;

}

/*deleteCourse.html*/

#deleteCourseBody {

	background-color: white;

}

#enableCourseBody {

	background-color: white;
	
}